html {
    background: url(https://scontent.ftpa1-2.fna.fbcdn.net/v/t31.0-8/16300550_407093822972335_8387812111460752090_o.jpg?oh=bcf226e055d99d483f1bfff77ffdcd22&oe=5939DD77) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}